* { box-sizing: border-box;}
body {background-color: lightgray;}
.navbar {
    background-color: rgb(242, 210, 32);
    margin: -14px -10px 0 -10px;
    padding: 0 0px 0 0;
    position: fixed;
    width: 100%;
}
.navbar ul {
    margin: 0;
    list-style-type: none;
}
.navbar ul li {
    float: left;
}
.navbar ul li a {
    display: block;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    color: black;
}
.navbar ul li.right {
    float: right;
    margin: 0 5px 0 0;
}
.clear {
    clear: both;
}
.navbar ul li a:hover {
    background-color: grey;
    color:white;
}

.content .logo img {
    display: block;
    margin: 15px auto 0 auto;
    width: 25%;
}
.logo {
    margin: 0 0 80px 0;
    padding: 50px 0 0 0;
}

.content_2 {
    padding: 50px 0 50px 0 ;
    background-color: rgb(228, 238, 240);
}
.content_2 h2 {
    font-family: Segoe UI;
    text-align: center;
    text-decoration: underline;
}
.card {
    display: table;
    float: left;
    width: 31.8%;
    height: 300px;
    margin: 0 0 0 15px;
    background-color: yellow;
    overflow: hidden;
    padding: 16px;
    /* margin: auto 15px;/ */
    font-family: Segoe UI;
    text-align: justify;
    background-image: url(/webpage/img/note.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
    box-shadow: 5px 5px 5px goldenrod;
}

.content_3 {
    background-color: cyan;
    width: 100%;
    padding: 16px;
    margin: 10px 0 0 0;
    
}
.content_3 .list {
    display: table;
    float: left;
}
.content_3 .list ul {
    display: block;
    background-color: darkgrey;
    list-style-type: none;
    background-color: whitesmoke;
    width: 350px;
    height: 260px;
    padding: 0;
    text-align: center;
    font-family: Segoe UI;
    /* background-image: url(/webpage/img/note.png); */
}
.content_3 .list ul h2 {
    margin: 50px 0 12px 0;
    padding: 15px;
    background-color: #ffe680ff;
    text-decoration: underline;
}
.content_3 .list ul li {
    background-color: lightblue;
    margin: 15px;
    box-shadow: 5px 3px grey;
    line-height: 30px;
}
.content_3 .list ul li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 0 35%;
    background-color: lightgreen;
}

.content_3 .panel {
    display: block;
    padding: 16px;
    float: left;
    /* background-color: #ffe680ff; */
    background-image: url(/webpage/img/noted.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 0 0 50px;
}
.content_3 .panel h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.content_3 .panel .pic {
    margin: 0 5px 0 0;
    width: 280px;
    padding: 15px;
    float: left;
}
.content_3 .panel .pic img {
    width: 250px;
}

.content_3 .panel .desc {
    float: left;
    width: auto;
}
.content_3 .panel .desc p {
    display: inline-block;
    width: 420px;
    text-align: justify;
}

.content_3 .panel .desc h4 {
    margin: 0 0 5px 0;
    font-family: lucida Sans;
}
.content_3 .panel .desc ul {
    margin: 0;
    padding: 0 0 0 20px;
    list-style-type:disc;
}

.content_3 .price {
    display: block;
    margin: 20px 0 0 33.3%;
    float: left;
    background-color: #ffe680ff;
    width: 60%;
    text-align: left;
    padding: 5px 15px;
}
.content_3 .price h4 {
    font-family: lucida sans;
}
.content_3 .price table {
    margin: 0;
}
.content_3 .price td:first-child {
    width: 80%;
}
.content_3 .price td:last-child {
    width: 20%;
    text-align: right;
    text-decoration: underline;
    font-size: 16px;
    font-family: Verdana;
}
